body {
    font-family: 'Nunito', sans-serif !important;
    /*background-color: rgba(245, 158, 1, 0.02);*/
}

.navbar {
    background-color: rgba(190, 230, 255, 1.0) !important;
}

.nav-item {
    letter-spacing: 0.17rem;
    transform: scale(1, 0.95);
}

.nav-item:hover {
    font-weight: 700;
}

.btn-primary {
    background-color: rgba(20, 180, 255, 1.0);
    border: 1px solid rgba(20, 180, 255, 1.0);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: rgba(20, 180, 255, 1.0);
    background-color: #fff;
    border: 1px solid rgba(20, 180, 255, 1.0);
}

.btn-danger {
    background-color: #fff;
    color: rgba(217, 83, 79, 1.0);
    border: 1px solid rgba(217, 83, 79, 1.0);
}

.btn-secondary {
    background-color: #fff;
    color: rgba(20, 180, 255, 1.0);
    border: 1px solid rgba(20, 180, 255, 1.0);
}

.btn-secondary:focus, .btn-secondary:hover, .btn-secondary:active {
    background-color: rgba(20, 180, 255, 1.0);
    color: #fff;
    border: 1px solid rgba(20, 180, 255, 1.0);
}

.btn-outline-primary {
    color: rgba(20, 180, 255, 1.0);
    border: 1px solid rgba(20, 180, 255, 1.0);
    background-color: #fff;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
    background-color: rgba(20, 180, 255, 1.0);
    border: 1px solid rgba(20, 180, 255, 1.0);
    color: #fff;
}

.card {
    /*background-color: rgba(255, 240, 224, 0.2);*/
    
}

.card-header {
    background-color: rgba(255, 240, 224, 1.0);
    /*background-color: rgba(225, 245, 255, 1.0);*/
}

.modal-header {
    background-color: rgba(255, 240, 224, 1.0);
}

.modal-body {
    background-color: rgba(190, 230, 255, 0.1);
}

.larger-spacing {
    letter-spacing: 0.5rem;
}

.small-spacing {
    letter-spacing: 0.1rem;
}

.larger-text {
    font-size: 3.0rem;
}

.squeezed {
    transform: scale(1, 0.85);
}

.font-light {
    font-weight: 100 !important;
}

.golden-yellow {
    color: rgba(245, 158, 1, 1.0);
}

@media screen and (max-width: 499px) {

    .navbar-brand {
        margin-left: auto !important; 
        margin-right: auto !important; 
        padding-left: auto !important; 
        padding-right: auto !important; 
    }

    .navbar-toggler {
        width: 97%; 
        margin-left: auto !important; 
        margin-right: auto !important; 
        margin-bottom: 5px; 
    }

}